<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My First Flask App</h1>
    <P>Have fun boys...</P>
    <form action="/" method="post">
        <label>Enter height</label>
        <input type="number" name="height" placeholder="enter your height">
        <input type="submit">
    </form>
<form>entered height value is {{hei}}</form>
<form>entered weight value is {{wei}}</form>

</body>
</html>